:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}
/*Esto tiene que ir en todos los proyectos*/
html {/*Para hacer que el border, el padding, no afecte el ancho de los elementos*/
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
/*hereda la propiedades del html*/
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;/*Interlineado*/
}
/** Globales **/
.contenedor {
    width: min(90%, 120rem);/**Tomara el valor minimo, dependiendo de la pantalla del navegador**/
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;/** Es para poder hacer las imagenes responsivas, esto es una forma, existen mas... **/
}
/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
/** Header **/
/*Si tiene webp, entonces a la clase .header agrega la siguiente imagen*/
.webp .header {
    background-image: url(../img/banner.webp);
}
/*No tiene webp, entonces a la clase .header, agrega la siguiente imagen*/
.not-webp .header {
    background-image: url(../img/banner.jpg);
}
header {
    height: 60rem;
    background-size: cover;/*Para que tome todo el espacio disponible*/
    background-repeat: no-repeat;/*Para que no se repita la imagen*/
    background-position: center center;/*Una imagen se tiene que centrar 2 veces*/
}
.header-texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
@media (min-width:768px){
    .header-texto {
        margin: 15rem;
    }
}
.barra {
    padding-top: 4rem;
}
@media (min-width:768px){
    .barra {
        display: flex;/**Alineamos horizontalmente**/
        justify-content: space-between;/**Separa los elementos y en medio agrega un espacio**/
        align-items: center;/*Posiciona los elementos, para que se alineen horizontalmente y esten en el mismo nivel*/
    }
}
.logo {
    color: var(--blanco);
}
.logo__nombre {
    font-weight: 400;
}
.logo__bold {
    font-weight: 700;
}
@media (min-width:768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    color: var(--blanco);
    font-size: 1.8rem;
}
@media (min-width:768px){
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}
.entrada {
    border-bottom: 1px solid var(--gris);/*Agregamos border*/
    margin-bottom: 2rem;
}
.entrada:last-of-type{/*Seleccionamos el ultimo elemento que contiene la clase de .entrada*/
    border-bottom: none;/*Eliminamos el border*/
    margin-bottom: 0;
}
.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}
.boton:hover {
    cursor: pointer;
}
@media (min-width:768px) {
    .boton {
        display: inline-block
    }
}
.boton--primario {
    background-color: var(--negro);
}
.boton--secundario {
    background-color: var(--primario);
}
.cursos {
    list-style: none;
}
.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}
.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: 700;
}
.widget-curso__info {
    font-weight: 400;
}
.widget-curso__label,
.widget-curso__info {
    font-size: 2rem;
}
.footer {
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}
/**Sobre nosotros**/
@media (min-width:768px){
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
/* FORMA ANTIGUA DE HACER 
.sobre-nosotros {
    display: flex;
    gap: 2rem;
}
.sobre-nosotros__imagen,
.sobre-nosotros__texto {
    flex-basis: 50%;
}*/
}
.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}
@media (min-width:768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}
.curso:last-of-type {
    border-bottom: none;
}
.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: 700;
}
.curso__info {
    font-weight: 400;
}
.curso__label,
.curso__info {
    font-size: 2rem;
}
/** Contacto **/
.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
}
.campo__label {
    /**Primer elemento: No modifica su crecimiento en width**/
    /**Segundo elemento: No se hara mas pequeño**/
    /**Tercer elemento: Su factor de crecimiento y sera fijo**/
    flex: 0 0 9rem;
    text-align: right;
}
.campo__field {
    /** Su factor de crecimiento es uno, dependiento del padre 
    e hijos que haya**/
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textarea {
    height: 20rem;
}